html {
  font-family: "pt-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
header {
  position: relative;
  top: 90px;
  text-align: center;
}
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: "pt-sans",sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; 
}
.content {
  margin: 110px auto;
  padding-left: 70px;
  padding-right: 30px;
}
nav {
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #AAA;
}

nav a{
  text-decoration: none;
}
nav li {
  font-size: 1.4rem;
  color: #333;
  list-style-type: none;
  display: inline-block;
  margin-right: 70px;
  margin-left: 30px;
  margin-top: auto;
}
