html {
  font-family: "pt-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
header {
  position: relative;
  top: 90px;
  text-align: center;
}
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: "pt-sans",sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; 
}
.content {
  margin: 110px auto;
  padding-left: 70px;
  padding-right: 30px;
}
nav {
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #AAA;
  z-index: 9;
}

nav a{
  text-decoration: none;
  color: #333;
}
nav li {
  font-size: 1.4rem;
  list-style-type: none;
  display: inline-block;
  margin-right: 70px;
  margin-left: 30px;
  margin-top: auto;
}
.checkbox {
	display:none;
}
.nav--checkbox {
	display: none;
}
@media (max-width: 970px) {
		.nav--checkbox {
		display: list-item;
	}
	nav li {
	  display: list-item;
	  margin-bottom: 15px;
	  font-size: 1rem;
	}
	header {
    top: 235px;
	  font-size: 0.9rem;
	}
	.content {
	  font-size: 0.9rem;
	  margin: 270px auto;
	  padding-left: 30px;
	  padding-right: 5px;
	}
}
