html {
  font-family: "pt-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
}
body {
  background-color: white;
  font-size: 16px;
  line-height: 1.6;
  font-family: "pt-sans",sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; 
}
.content {
  text-align: center;
  margin: 50px auto;
  padding-left: 70px;
}
nav {
  text-decoration: none;
  list-style-type: none;
}
